body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  padding: 15px;
  
}

.formulario {
  background: #fff;
  margin-top: 50px;
  padding: 3px;
  border: 2px solid black;
}

h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
  border: 2px solid black;
}
.input-contendor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border: 2px solid black;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
  border: 2px solid black;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: cadetblue;
}

p {
  text-align: center;
}

a {
  color: #1a2537;
  font-weight: 600;
}

a:hover {
  color: cadetblue;
}

@media (min-width: 540px) {
  .formulario {
    margin: auto;
    width: 500px;
    border-radius: 2%;
    margin-top: 150px;
  }
}
