<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Mis mazos</title>
</head>

<body>

    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            Mis Mazos
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <tr th:each="mazo:${mazos}">
              <td>${mazo.nombre}</td>
            </tr>
          </div>
          <div class="col-sm-4">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-secondary">Iniciar</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Crear</button>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-secondary">Editar</button>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            Matias Arias y Claudio Saez
          </div>
        </div>
    </div>
    
</body>
</html>