<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Iniciar Sesión</title>
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="/src/main/resources/static/css/styleLogin.css"
      th:href="@{/css/styleLogin.css}"
    />
  </head>
  <body>
    <div class="Alerta error" th:if="${param.error}">
      Nombre de usuario y contraseña incorrectos
    </div>

    <div class="Alerta cerrar" th:if="${param.logout}">Has cerrado sesión</div>

    <form th:action="@{/login}" method="post" class="formulario">

      <div><h1>Login</h1></div>

      <div class="contenedor">

        <div class="input contenedor">
          <i class="fi fi-rr-user icon"></i>
          <input type="text" name="username" placeholder="Nombre de Usuario" />
        </div>

        <div class="input contenedor">
          <i class="fi fi-rr-key icon"></i>
          <input type="password" name="password" placeholder="Contraseña">
        </div>
      </div>

      <input type="submit" value="Iniciar Sesión" class="button"/>

      <p>¿No tienes una cuenta? Registrate <a th:href="@{/registro}">aquí</a>.</p>
      

      
    </form>
  </body>
</html>
