<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/styleLogin.css" th:href="@{/css/styleLogin.css}">
  </head>
  <body>
    <!--Spring Security proporciona un filtro que intercepta esa solicitud y autentica al usuario.
 Si el usuario no puede autenticarse, la página se redirige a /login?error y su página muestra
 el mensaje de error correspondiente. Al cerrar sesión con éxito, su solicitud se envía
 a /login?logout y su página muestra el mensaje de éxito correspondiente.-->

    <div class="Alerta error" th:if="${param.error}">
      Nombre de usuario y contraseña incorrectos.
</div>
    <div class="Alerta cerrar" th:if="${param.logout}">Has cerrado sesión.</div>

    <form th:action="@{/login}" method="post" class="Contenedor">

      <div  ><img class="avatar" th:src="@{/images/imgUser}" alt="img_user"></div>

      <div> <h1>Login</h1></div>
     
      <div>
        <label>
          Nombre de Usuario : <input type="text" name="username" />
        </label>
      </div>
      <div>
        <label> Contraseña: <input type="password" name="password" /> </label>
      </div>
      <div class="boton"><input type="submit" value="Iniciar Sesión" /></div>
      <div>
        <p>
          ¿No tienes una cuenta? Registrate <a th:href="@{/registro}">aquí</a>.
        </p>
      </div>
    </form>
  </body>
</html>
